Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: swap_app linter, landing_page linter, rust lint, swap_app production build, landing_page production build, explorer production build

Path conditions:
  swap_app linter: any of: client/swap_app/*.{js,json}, client/swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page linter: any of: client/landing_page/*.{js,json}, client/landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}
  swap_app production build: any of: swap_app/*.{js,json}, swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page production build: any of: landing_page/*.{js,json}, landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  explorer production build: any of: explorer/*.{js,json}, explorer/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}

chmod as executable
  scripts/deploy-ledger-indexer.sh
Due: none

Add gldt-ledger-indexer deployment
  scripts/local-deploy.sh
Due: none

Prepare gldt-fee-compensation deployment
  scripts/deploy-gldt-fee-compensation.sh
  scripts/local-deploy.sh
Due: none

Correct npm script
  package.json
Due: none

Wasm canisters staging and prod deploy jobs
  .gitlab-ci.yml
Due: none

Correct frontend deps
  .gitlab-ci.yml
Due: none

Temporarily disable gldt_fee_compensation jobs
  .gitlab-ci.yml
Due: none

Pass the canister id as artifact for staging
  .gitlab-ci.yml
Due: none

explorer strctr
  client/explorer/pages/transparency.js
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/transparency/TransparencyContent.js
  client/utils/hooks/ledgerIndexer/useHistory.js
  client/utils/hooks/useNFTs.js
Due: none

FAQ implementation
  client/landing_page/package.json
  client/landing_page/pages/FAQ.js
  client/landing_page/pages/_app.js
  client/landing_page/pages/index.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/FAQ/content.json
  client/landing_page/src/components/layout/Layout.js
  client/landing_page/src/components/navigation/Nav.js
  package-lock.json
Due: landing_page linter

total supply - landing page implementation
  client/landing_page/jsconfig.json
  client/landing_page/next.config.js
  client/landing_page/pages/_app.js
  client/landing_page/pages/index.js
  client/landing_page/src/components/Providers.js
  client/landing_page/src/components/SafeHydrate.js
  client/landing_page/src/components/Supply.js
  client/landing_page/src/components/layout/Layout.js
  client/swap_app/jsconfig.json
  client/utils/SafeHydrate.js
  client/utils/agents/declarations/GLDT_CORE/GLDT_CORE.did
  client/utils/agents/declarations/GLDT_CORE/GLDT_CORE.did.js
  client/utils/agents/declarations/GLDT_CORE/index.js
  client/utils/agents/declarations/GLDT_LEDGER/GLDT_LEDGER.did
  client/utils/agents/declarations/GLDT_LEDGER/GLDT_LEDGER.did.js
  client/utils/agents/declarations/GLDT_LEDGER/index.js
  client/utils/agents/declarations/GLD_NFT/Gold_NFT.did
  client/utils/agents/declarations/GLD_NFT/Gold_NFT.did.js
  client/utils/agents/declarations/GLD_NFT/index.js
  client/utils/agents/index.js
  client/utils/hooks/useTotalSupply.js
Due: swap_app linter, landing_page linter

hotfix: accountCOntent history error
  client/explorer/src/components/account/AccountContent.js
Due: none

swap_app: ui fix
  client/swap_app/src/components/ui/manage/Summary.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/utils/hooks/useSwapHistory.js
Due: swap_app linter

fix : swap_app build err
  client/swap_app/src/components/ui/manage/Summary.js
  client/utils/hooks/useSwapHistory.js
Due: swap_app linter

landing-page implementation desktop
  client/landing_page/package.json
  client/landing_page/pages/_app.js
  client/landing_page/pages/index.js
  client/landing_page/public/token.glb
  client/landing_page/src/components/Providers.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/matcap.jpg
  client/landing_page/src/components/banner/scene/Model.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Grid.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/layout/Layout.js
  client/landing_page/src/components/layout/Nav.js
  client/landing_page/src/components/partners/Partners.js
  client/landing_page/src/components/stats/Stats.js
  client/landing_page/src/components/text/TextBloc.js
  client/landing_page/src/content.js
  client/landing_page/src/landingPageTheme.js
Due: landing_page linter

implementation
  client/landing_page/package-lock.json
  client/landing_page/pages/index.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/layout/Layout.js
  client/landing_page/src/components/layout/Nav.js
  client/ui/header/Navigation.js
  client/ui/theme.js
  package-lock.json
Due: landing_page linter

Correct npm scripts for landing page builds
  .gitlab-ci.yml
Due: none

Workspaces lock
  package-lock.json
Due: none

global implementation
  client/landing_page/package.json
  client/landing_page/pages/FAQ.js
  client/landing_page/pages/_app.js
  client/landing_page/pages/index.js
  client/landing_page/public/cleantoken.glb
  client/landing_page/public/token.glb
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/scene/Model.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Grid.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/layout/Layout.js
  client/landing_page/src/components/layout/Nav.js
  client/landing_page/src/components/navigation/Nav.js
  client/landing_page/src/components/partners/Partners.js
  client/landing_page/src/components/stats/Stats.js
  client/landing_page/src/components/text/TextBloc.js
  client/landing_page/src/content.js
  client/landing_page/src/landingPageTheme.js
Due: landing_page linter

wip
  canister/gldt_core/src/declarations/gld_nft.rs
  canister/gldt_fee_compensation/Cargo.toml
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

wip
  Cargo.lock
  Cargo.toml
  canister/gldt_core/Cargo.toml
  canister/gldt_core/src/declarations/mod.rs
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/types.rs
  canister/gldt_fee_compensation/src/error.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/Cargo.toml
  canister/gldt_libs/src/constants.rs
  canister/gldt_libs/src/gld_nft.rs
  canister/gldt_libs/src/icrc1.rs
  canister/gldt_libs/src/lib.rs
  canister/gldt_libs/src/misc.rs
  canister/gldt_libs/src/types.rs
Due: rust lint

deployment and testing
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
  canister/gldt_fee_compensation/src/error.rs
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/src/gld_nft.rs
  canister/gldt_libs/src/gldt_ledger.rs
  canister/gldt_libs/src/misc.rs
  canister/gldt_libs/src/types.rs
  dfx.json
  scripts/deploy-fee-compensation.sh
Due: rust lint

parallelised transfer_job and deployed as cron_job
  Cargo.lock
  canister/gldt_fee_compensation/Cargo.toml
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/test.rs
  scripts/deploy-fee-compensation.sh
Due: rust lint

finish the compensation canister
  Cargo.toml
  canister/gldt_core/src/lib.rs
  canister/gldt_fee_compensation/src/error.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/src/gld_nft.rs
  canister/gldt_libs/src/gldt_ledger.rs
  canister/gldt_libs/src/lib.rs
  canister/gldt_libs/src/misc.rs
  canister/gldt_libs/src/types.rs
  scripts/deploy-scripts.sh
Due: rust lint

fixed AskFeature on gldt_core error
  canister/gldt_core/src/lib.rs
Due: rust lint

added the notify method to call fee compensation from gldt core canister
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

added gldt_fee_compensation canister to gldt_core deployment
  canister/gldt_core/src/gldt_core.did
  scripts/deploy-gldt-core.sh
  scripts/deploy-scripts.sh
Due: none

add check for set_timer_interval
  canister/gldt_fee_compensation/src/lib.rs
Due: none

added logging to notify method of fee compensation and set did files
  canister/gldt_fee_compensation/declarations/gldt_fee_compensation.did
  canister/gldt_fee_compensation/declarations/gldt_fee_compensation.did.js
  canister/gldt_fee_compensation/declarations/index.js
  canister/gldt_fee_compensation/src/lib.rs
  scripts/deploy-fee-compensation.sh
Due: none

add security check to expected_sale_price to avoid bad compensation. Note this should never happend.
  canister/gldt_fee_compensation/src/lib.rs
Due: none

add dynamic fee_compensation
  canister/gldt_fee_compensation/src/lib.rs
  scripts/pre-deploy.sh
Due: none

update according to Dustin remarks
  canister/gldt_fee_compensation/src/lib.rs
Due: none

mobile design implementation
  client/landing_page/package.json
  client/landing_page/pages/index.js
  client/landing_page/public/images/gold/100g.png
  client/landing_page/public/images/gold/10g.png
  client/landing_page/public/images/gold/1kg.png
  client/landing_page/public/images/partners/BAS.svg
  client/landing_page/public/images/yumi.png
  client/landing_page/public/images/yumi.svg
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/Supply.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/layout/Grid.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/layout/Nav.js
  client/landing_page/src/components/partners/Partners.js
  client/landing_page/src/components/stats/Stats.js
  client/landing_page/src/components/text/TextBloc.js
  client/landing_page/src/content.js
  client/landing_page/src/css/global.css
Due: landing_page linter

replace depr dep
  client/landing_page/package.json
  client/landing_page/pages/FAQ.js
  client/landing_page/pages/index.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/banner/scene/Model.js
  client/landing_page/src/components/banner/scene/Scene.js
Due: landing_page linter

Deploy frontends
  scripts/local-deploy.sh
Due: none

Prepare frontends ids
  scripts/pre-deploy.sh
Due: none

Use gldt core deployment artifact
  .gitlab-ci.yml
Due: none
