Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node cache, rust lint, gld dashboard staging, gld dashboard preprod, gld dashboard production, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

node cache:
  stage: preparation
  script:
  - npm pkg get name description author license workspaces engines
  - node --version
  - npm --version

rust lint:
  stage: lint
  script:
  - cargo clippy

gld dashboard staging:
  stage: deploy
  resource_group: frontend staging deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister staging deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard preprod:
  stage: deploy
  resource_group: frontend preprod deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister preprod deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard production:
  stage: deploy
  resource_group: frontend production deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister production deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: production
  ...

gldt core staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - gldt_core canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

icp neuron staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - icp_neuron canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

token metrics staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - token_metrics canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

sns rewards staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - sns_rewards canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

management staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - management canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

ci: frontend build move changes definition to template
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: fix rules for frontend builds
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: add dummy file to trigger pipeline of gldt_explorer
  client/gldt_explorer/dummy.md
Due: none

ci: activate linting stage of gld_dashboard
  .gitlab-ci.yml
Due: none

ci: small adjustment of definitions
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: move frontend deployments to separate file
  .gitlab-ci.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: add include script for frontend deploy
  .gitlab-ci.yml
Due: none

ci: small rearrange
  .gitlab-ci.yml
Due: none

ci: refactor variable
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: adjust frontend deployment pipeline
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: fix frontend deployment
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: push small change
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: minor change to trigger pipeline
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix environment name of deployments
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: use single build script for frontend
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix dependency of frontend build
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: finalise frontend pipeline
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_deploys.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix missing canister name for frontend deployment
  scripts/ci-cd/.dfx_templates.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: trigger pipeline
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: comment out unnecessary jobs
  .gitlab-ci.yml
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix frontend build and deploy
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix deployment tier
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

feat: add error handling + clean up ogy_sns_reward
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/external_canisters/origyn_sns_rewards/api/src/lib.rs
  backend/external_canisters/origyn_sns_rewards/api/src/lifecycle/init.rs
  backend/external_canisters/origyn_sns_rewards/api/src/lifecycle/mod.rs
  backend/external_canisters/origyn_sns_rewards/api/src/types/mod.rs
  backend/external_canisters/origyn_sns_rewards/api/src/types/payment_round.rs
  backend/external_canisters/origyn_sns_rewards/api/src/types/subaccounts.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

ci: fix pipeline with release tag
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: fix frontend release pipeline with tag
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: fix release pipeline for frontend
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: rever prettier changes
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix integration test rule for releases
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: fix int test pipeline
  .gitlab-ci.yml
  scripts/ci-cd/.canister_deploys.yml
Due: none

ci: attempt to fix tag detection
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.canister_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix regex
  .gitlab-ci.yml
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.canister_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix generic pipeline
  .gitlab-ci.yml
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.canister_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: move integration tests and include md changes in pipeline
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
  scripts/ci-cd/.canister_deploys.yml
  scripts/ci-cd/.canister_unit_test_coverage.yml
  scripts/ci-cd/.integration_tests.yml
Due: none

feat: add metric endpoint to show registered tokens
  backend/canisters/sns_rewards/impl/src/state.rs
Due: rust lint, sns rewards staging

Path conditions:
  node cache: any of: ./frontend/{**,**/**,**/**/**}/*.{js,json,jsx,md,mdx,css,html,svg}
  rust lint: (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}) or ((not (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock})) and (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}))
  gld dashboard staging: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard preprod: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard production: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gldt core staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/gldt_core/{**,**/**,**/**/**}/*.{rs,toml,lock}
  icp neuron staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/icp_neuron/{**,**/**,**/**/**}/*.{rs,toml,lock}
  token metrics staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/token_metrics/{**,**/**,**/**/**}/*.{rs,toml,lock}
  sns rewards staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/sns_rewards/{**,**/**,**/**/**}/*.{rs,toml,lock}
  management staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/management/{**,**/**,**/**/**}/*.{rs,toml,lock}
  cycles manager staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/cycles_manager/{**,**/**,**/**/**}/*.{rs,toml,lock}
