Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: next linter, rust lint, next production build

next linter:
  image: node:18.16-alpine
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/.next/
    - client/.npm/
    - client/node_modules/
  before_script:
  - apk update -q && apk add -q jq
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  - npm run lint:front

rust lint:
  image: rust:slim-bookworm
  cache:
  - key: rust-$CI_COMMIT_REF_SLUG
    paths:
    - .cargo
    - canister/gldt_core/target
  before_script:
  - apt update > /dev/null && apt install -y wget build-essential > /dev/null
  - rustup target add wasm32-unknown-unknown
  - mkdir -pv .cargo
  ...

next production build:
  image: node:18.16-alpine
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/.next/
    - client/.npm/
    - client/node_modules/
  before_script:
  - apk update -q && apk add -q jq
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - canister build
  script:
  ...

Fix local deployment for availability of env vars
  package.json
  scripts/local-deploy.sh
  scripts/pre-deploy.sh
Due: none

Remove obsolete 'realbuild' script As custom build commands are now defined in `dfx.json`, and a dummy `npm` protects from unwanted builds operations in CI/CD
  README.md
  package.json
Due: none

Temporarily disable frontend deployment in staging
  .gitlab-ci.yml
Due: none

Use local-deploy.sh script
  .gitlab-ci.yml
Due: none

Adapt CI PEM files names
  .gitlab-ci.yml
Due: none

Temporarily disable frontend build
  package.json
Due: none

Remove unknown shrinker option
  scripts/build-canister.sh
Due: none

Unecessary build step
  package.json
Due: none

Document and secure gldt_ledger deploy script
  scripts/deploy-ledger.sh
Due: none

Fix existence test for gldt_ledger
  scripts/deploy-ledger.sh
Due: none

Correct --upgrade option parsing
  scripts/deploy-ledger.sh
Due: none

Error and warning messages
  scripts/deploy-ledger.sh
Due: none

Production deployment script
  scripts/deploy-ledger.sh
Due: none

Add comment about redundant code
  scripts/deploy-ledger.sh
Due: none

Also test if network is ic
  scripts/deploy-gldt-core.sh
Due: none

No wallet for CI/CD
  scripts/deploy-gldt-core.sh
Due: none

Document script and error message
  scripts/deploy-gldt-core.sh
Due: none

Remove old deployment jobs
  .gitlab-ci.yml
Due: none

Use deployment scripts
  .gitlab-ci.yml
Due: none

Update README
  README.md
Due: none

Additional segregation of upgrade script
  scripts/deploy-ledger.sh
Due: none

update readme on top of lib.rs
  canister/gldt_core/src/lib.rs
Due: rust lint

remove ``` in readme at top of lib.rs
  canister/gldt_core/src/lib.rs
Due: rust lint

Fix: further corrections to the doc at top of lib.rs
  canister/gldt_core/src/lib.rs
Due: rust lint

Fix frontend build script for CI job
  .gitlab-ci.yml
  package.json
Due: none

Also fix for staging build
  .gitlab-ci.yml
Due: none

Bash needed in nodejs jobs
  .gitlab-ci.yml
Due: none

Remove faulty --compute-evidence option
  scripts/deploy-gldt-core.sh
  scripts/deploy-ledger.sh
Due: none

Correct wrong script call !
  .gitlab-ci.yml
Due: none

Use correct identity for deployments
  .gitlab-ci.yml
Due: none

remove providers
  client/package-lock.json
  client/pages/_app.js
  client/pages/index.js
  client/src/atoms/cart.js
  client/src/atoms/nfts.js
  client/src/components/c2ic/C2icButton.js
  client/src/components/c2ic/Providers.js
  client/src/components/layout/Header.js
  client/src/components/ui/Ruban.js
  client/src/components/ui/swap/Swap.js
  client/src/hooks/useNFTs.js
  client/src/states/appStatus.js
  client/src/states/user.js
Due: next linter, next production build

basic swap interface implementation
  client/src/atoms/cart.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useAllCanisters.js
  client/src/query/hooks/useGLDT.js
  client/src/query/hooks/useGLDTbalance.js
  client/src/query/hooks/useNFTs.js
  client/src/query/hooks/useRecords.js
  client/src/query/hooks/useTotalSupply.js
  client/src/query/sendBatchOffer.js
Due: next linter, next production build

start writing unitests
  canister/gldt_core/src/test.rs
Due: rust lint

continue writing unitests, fixing overflow crash
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

start writing unitests
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
  canister/gldt_core/tests/test.rs
Due: rust lint

added an initial test for `notify_sale_nft_origyn`
  canister/gldt_core/Cargo.toml
  canister/gldt_core/src/declarations/gld_nft.rs
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

changed to is_some
  canister/gldt_core/src/lib.rs
Due: rust lint

add more tests coverage for query exposed function
  canister/gldt_core/src/test.rs
Due: rust lint

add tests on get_status_of_swap, and made a few change on the function
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

Path conditions:
  next linter: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}
  next production build: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
