Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node cache, rust lint, gld dashboard staging, gld dashboard preprod, gld dashboard production, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

node cache:
  stage: preparation
  script:
  - npm pkg get name description author license workspaces engines
  - node --version
  - npm --version

rust lint:
  stage: lint
  script:
  - cargo clippy

gld dashboard staging:
  stage: deploy
  resource_group: frontend staging deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister staging deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard preprod:
  stage: deploy
  resource_group: frontend preprod deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister preprod deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard production:
  stage: deploy
  resource_group: frontend production deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister production deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: production
  ...

gldt core staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - gldt_core canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

icp neuron staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - icp_neuron canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

token metrics staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - token_metrics canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

sns rewards staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - sns_rewards canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

management staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - management canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

ci: remove generate declarations
  .gitlab-ci.yml
  scripts/ci-cd/.generate_declaration.yml
Due: none

ci: remove check canister ids, not needed
  .gitlab-ci.yml
Due: none

ci: minor refactor
  .gitlab-ci.yml
Due: none

refactor: minor change to trigger pipelines
  backend/libraries/types/src/rewards_recipients.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

ci: remove needs for "check canister ids"
  .gitlab-ci.yml
Due: none

ci: remove unnecessary build for canisters
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: rename unit test job
  scripts/ci-cd/.canister_unit_test_coverage.yml
Due: none

ci: outsource deployment jobs to separate file
  .gitlab-ci.yml
  scripts/ci-cd/.canister_deploys.yml
Due: none

ci: change to trigger pipeline
  backend/canisters/management/impl/src/lib.rs
Due: rust lint, management staging

ci: trigger add trigger to test
  scripts/ci-cd/.canister_deploys.yml
Due: none

ci: revert test addition
  scripts/ci-cd/.canister_deploys.yml
Due: none

ci: move all deployment scripts to separate file and delete obsolete ones
  .gitlab-ci.yml
  scripts/canister-deploy/deploy-cycles_manager.sh
  scripts/canister-deploy/deploy-gldt_core.sh
  scripts/canister-deploy/deploy-icp_neuron.sh
  scripts/canister-deploy/deploy-management.sh
  scripts/canister-deploy/deploy-sns_rewards.sh
  scripts/canister-deploy/deploy-token_metrics.sh
  scripts/ci-cd/.canister_deploys.yml
  scripts/deploy-gldt-fee-compensation.sh
  scripts/deploy-ledger-indexer.sh
  scripts/deploy-ledger.sh
Due: none

ci: minor changes to trigger pipelines
  backend/canisters/icp_neuron/impl/src/testing/dummies.rs
  backend/canisters/management/impl/src/memory.rs
Due: rust lint, icp neuron staging, management staging

fix: fix some points related to NeuronManager
  Cargo.lock
  backend/canisters/sns_neuron_controller/impl/Cargo.toml
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/memory.rs
  backend/canisters/sns_neuron_controller/impl/src/state.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
Due: rust lint

feat: add daily interval feature and use it for neuron sync cron job
  backend/canisters/sns_rewards/impl/src/jobs/distribute_rewards.rs
  backend/canisters/sns_rewards/impl/src/jobs/synchronise_neurons.rs
  backend/canisters/sns_rewards/impl/src/state.rs
  backend/canisters/sns_rewards/impl/src/utils.rs
Due: rust lint, sns rewards staging

ci: add manual trigger to run integration tests also during MR
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
Due: none

refactor: small cleanup to trigger pipeline
  backend/canisters/management/impl/src/queries/mod.rs
Due: rust lint, management staging

ci: adjust manual trigger
  .gitlab-ci.yml
Due: none

feat: upd changelog, separated NeuronConfig trait
  backend/canisters/sns_neuron_controller/CHANGELOG.md
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
Due: rust lint

ci: fix integration test trigger dependency
  .gitlab-ci.yml
  scripts/ci-cd/.canister_builds.yml
Due: none

feat: add migration for new state
  backend/canisters/sns_rewards/impl/src/lifecycle/post_upgrade.rs
  backend/canisters/sns_rewards/impl/src/state.rs
  backend/canisters/sns_rewards/impl/src/utils.rs
Due: rust lint, sns rewards staging

ci: isolate MR build condition for integration test builds
  scripts/ci-cd/.canister_builds.yml
Due: none

refactor: remove commented code
  .gitlab-ci.yml
Due: none

refactor: improve migration
  backend/canisters/sns_rewards/impl/src/lifecycle/post_upgrade.rs
Due: rust lint, sns rewards staging

refactor: no need to mutate the same value
  backend/canisters/sns_rewards/impl/src/lifecycle/post_upgrade.rs
Due: rust lint, sns rewards staging

ci: fix MR pipeline dependency also for merge from dev to master
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: trigger pipelien
  backend/canisters/management/impl/src/lifecycle/mod.rs
Due: rust lint, management staging

ci: revert invalid syntax
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: fix trigger for integration test
  .gitlab-ci.yml
Due: none

refactor: remove commented code to trigger pipeline
  backend/canisters/icp_neuron/impl/src/updates/process_neurons.rs
Due: rust lint, icp neuron staging

ci: unify frontend build scripts
  .gitlab-ci.yml
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: set frontend prod deployment scripts
  scripts/ci-cd/.dfx_templates.yml
Due: none

style: prettier commit to trigger pipeline
  client/gld_dashboard/components/Canisters/CanistersTable.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: fix deployment tier for frontend builds
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: fix deployment tier again
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: fix production build name
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: adjust frontend build trigger
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: TEMPORARY change to trigger pipeline in mR
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: fix linting error
  client/gld_dashboard/components/Canisters/CanistersTable.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: add dummy file
  client/gld_dashboard/dummy.md
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

Path conditions:
  node cache: any of: ./frontend/{**,**/**,**/**/**}/*.{js,json,jsx,md,mdx,css,html,svg}
  rust lint: (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}) or ((not (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock})) and (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}))
  gld dashboard staging: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard preprod: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard production: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gldt core staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/gldt_core/{**,**/**,**/**/**}/*.{rs,toml,lock}
  icp neuron staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/icp_neuron/{**,**/**,**/**/**}/*.{rs,toml,lock}
  token metrics staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/token_metrics/{**,**/**,**/**/**}/*.{rs,toml,lock}
  sns rewards staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/sns_rewards/{**,**/**,**/**/**}/*.{rs,toml,lock}
  management staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/management/{**,**/**,**/**/**}/*.{rs,toml,lock}
  cycles manager staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/cycles_manager/{**,**/**,**/**/**}/*.{rs,toml,lock}
