Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: swap_app linter, landing_page linter, rust lint, swap_app production build, landing_page production build, explorer production build

Path conditions:
  swap_app linter: any of: client/swap_app/*.{js,json}, client/swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page linter: any of: client/landing_page/*.{js,json}, client/landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}, canister/{gldt_fee_compensation,gldt_fee_compensation/src,gldt_fee_compensation/src/**}/*.{rs,toml,lock}
  swap_app production build: any of: swap_app/*.{js,json}, swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page production build: any of: landing_page/*.{js,json}, landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  explorer production build: any of: explorer/*.{js,json}, explorer/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}

transfer input feedbacks
  client/swap_app/src/components/ui/swap/Swap.js
  client/swap_app/src/components/ui/transfer/Transfer.js
Due: swap_app linter

adjustments to sns_init.yaml file
  sns/config/sns_init.yaml
Due: none

swap feedbacks
  client/swap_app/src/components/ui/swap/Swap.js
Due: swap_app linter

correct logo
  sns/config/logo.png
Due: none

css finetuning
  client/swap_app/src/components/ui/swap/Swap.js
  client/utils/hooks/gldtCore/useOngoingSwap.js
  client/utils/hooks/gldtCore/useSwapHistory.js
Due: swap_app linter

update README of canister
  canister/readme.md
Due: none

fix transaction table
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/transaction/TransactionContent.js
Due: none

add poster
  client/landing_page/public/images/poster.png
  client/landing_page/src/components/banner/Banner.js
Due: landing_page linter

export compensiate
  Cargo.lock
  canister/gldt_fee_compensation/Cargo.toml
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_fee_compensation/src/test.rs
Due: rust lint

add import + testsU
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_fee_compensation/src/test.rs
Due: rust lint

fix according to the Dustin\'s review
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/test.rs
Due: rust lint

add back providers
  client/swap_app/src/components/c2ic/Providers.js
Due: swap_app linter

test .htaccess
  client/explorer/public/.htaccess
Due: none

configure principal templates
  sns/config/sns_init.yaml
Due: none

updated KYC staging canister
  canister/gldt_core/src/test.rs
  dfx.json
Due: rust lint

adding managers methods to gldt core, import and fetch metadata, Serialize/Deserialize to registry. STILL WIP
  Cargo.lock
  canister/gldt_core/Cargo.toml
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_fee_compensation/src/error.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/src/lib.rs
Due: rust lint

start add unitest
  canister/gldt_core/src/test.rs
Due: rust lint

add missing file
  canister/gldt_libs/src/error.rs
Due: none

finish tests + add serialize/deserialize for records
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/test.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_fee_compensation/src/test.rs
Due: rust lint

update comments
  canister/gldt_core/src/registry.rs
  canister/gldt_fee_compensation/src/registry.rs
Due: rust lint

update comments
  canister/gldt_core/src/records.rs
Due: rust lint

remove french commentary
  canister/gldt_core/src/records.rs
Due: rust lint

remove name for query
  canister/gldt_core/src/lib.rs
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

added two principals
  sns/config/sns_init.yaml
Due: none

Use a double build process 1. Generate a wasm file 2. Generate did 3. Build canisters with definitive methods and run optimizations
  .gitlab-ci.yml
  canister/gldt_core/src/gldt_core.did
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
  client/utils/agents/index.js
  package.json
  scripts/build-canister.sh
Due: none

adjust min max public contribution
  sns/config/sns_init.yaml
Due: none

added team principal
  sns/config/sns_init.yaml
Due: none

updated sns_init.yaml
  sns/config/sns_init.yaml
Due: none

correct script documentation
  scripts/build-canister.sh
Due: none

Completely remove candid files from versioning
  .gitignore
  canister/gld_nft/origyn_nft_reference.did
  canister/gldt_ledger/gldt_ledger.did
  canister/gldt_ledger_indexer/gldt_ledger_indexer.did
  canister/yumi_kyc/kyc.did
Due: none

Refactor npm scripts for clarity
  package.json
Due: none

Lock npm deps
  package-lock.json
Due: none

Revert "Completely remove candid files from versioning"
  .gitignore
  canister/gld_nft/origyn_nft_reference.did
  canister/gldt_ledger/gldt_ledger.did
  canister/gldt_ledger_indexer/gldt_ledger_indexer.did
  canister/yumi_kyc/kyc.did
Due: none

Only remove / ignore candids that can be generated
  .gitignore
Due: none

Remove obsolete renaming
  package.json
Due: none

Remove mention of Bochsler Group
  package.json
Due: none
