Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: swap_app linter, landing_page linter, rust lint, swap_app production build, landing_page production build, explorer production build

Path conditions:
  swap_app linter: any of: client/swap_app/*.{js,json}, client/swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page linter: any of: client/landing_page/*.{js,json}, client/landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}, canister/{gldt_fee_compensation,gldt_fee_compensation/src,gldt_fee_compensation/src/**}/*.{rs,toml,lock}
  swap_app production build: any of: swap_app/*.{js,json}, swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page production build: any of: landing_page/*.{js,json}, landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  explorer production build: any of: explorer/*.{js,json}, explorer/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}

removed duplicate "ledger_indexer" from canister_ids
  canister_ids.json
  client/explorer/next.config.js
  client/utils/agents/declarations/GLDT_LEDGER_INDEXER/GLDT_LEDGER_INDEXER.did
  client/utils/agents/declarations/GLDT_LEDGER_INDEXER/GLDT_LEDGER_INDEXER.did.js
  client/utils/agents/declarations/GLDT_LEDGER_INDEXER/index.js
  client/utils/agents/declarations/LEDGER_INDEXER/index.js
  client/utils/agents/index.js
Due: none

explorer fix ui
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/account/AccountTitle.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/layout/Header.js
  client/explorer/src/components/layout/TableTitle.js
  client/explorer/src/components/layout/Title.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/explorer/src/components/transparency/TransparencyContent.js
  client/ui/gldt/TokenSign.js
  client/ui/principal/Principal.js
  client/ui/theme.js
  client/ui/tooltip/timeStamp.js
  client/utils/hooks/ledgerIndexer/useBlock.js
Due: none

transfer method implementation
  client/swap_app/pages/index.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/swap_app/src/components/ui/transfer/Transfer.js
Due: swap_app linter

fix gldt_fee_compensation deployment
  scripts/deploy-gldt-fee-compensation.sh
Due: none

fix gldt_fee_compensation deployment syntax error
  scripts/deploy-gldt-fee-compensation.sh
Due: none

fix for transfert wallet-to-wallet
  client/explorer/src/components/explorer/Explorer.js
  package-lock.json
Due: none

cherry pick package-lock.json
  package-lock.json
Due: none

fix transfer method
  client/swap_app/src/components/ui/transfer/Transfer.js
  client/utils/queries/transfer.js
Due: swap_app linter

Add no-user confirmation
  scripts/deploy-gldt-fee-compensation.sh
Due: none

Update did
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
Due: none

explorer: fix transaction page
  client/explorer/src/components/transaction/TransactionContent.js
Due: none

fix explorer and transfer improvement
  client/swap_app/src/components/ui/transfer/Transfer.js
  client/ui/principal/CopyPrincipal.js
  client/utils/queries/transfer.js
Due: swap_app linter

fix: typo
  client/swap_app/pages/index.js
Due: swap_app linter

general improvements - WIP
  client/swap_app/pages/index.js
  client/swap_app/src/components/layout/Header.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/swap_app/src/components/ui/transfer/Transfer.js
  client/ui/principal/Balance.js
  client/ui/principal/Principal.js
  client/ui/theme.js
  client/utils/queries/transfer.js
Due: swap_app linter

Created all canister_ids for production
  canister_ids.json
Due: none

general feedbacks -S
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/explorer/src/components/transparency/TransparencyContent.js
  client/swap_app/src/components/ui/transfer/Transfer.js
  client/ui/principal/Balance.js
  client/ui/principal/Principal.js
  client/utils/hooks/useGLDTbalance.js
  client/utils/queries/transfer.js
Due: swap_app linter

replace content
  client/landing_page/public/images/partners/yumi.svg
  client/landing_page/src/content.js
Due: landing_page linter

added first yml file
  sns/config/gold_dao.svg
  sns/config/sns.yml
Due: none

global ui improvement - WIP
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/ui/principal/Principal.js
  client/utils/misc/format.js
Due: none

comments implementations
  client/explorer/src/components/explorer/Explorer.js
  client/landing_page/pages/index.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/layout/Nav.js
  client/landing_page/src/components/stats/Stats.js
  client/swap_app/src/components/c2ic/C2icButton.js
  client/swap_app/src/components/ui/manage/Summary.js
  client/swap_app/src/components/ui/transfer/Transfer.js
  client/ui/header/Navigation.js
  client/ui/layout/GridSystem.js
  client/ui/principal/Balance.js
  client/ui/principal/Principal.js
  client/ui/theme.js
  client/utils/hooks/useGLDTbalance.js
  client/utils/hooks/useOngoingSwap.js
Due: swap_app linter, landing_page linter

fix lint
  client/explorer/src/components/transparency/TransparencyContent.js
Due: none

fix margin banner
  client/landing_page/src/components/banner/Banner.js
Due: landing_page linter

change did
  canister/gldt_core/src/gldt_core.did
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
  client/utils/agents/declarations/GLDT_CORE/GLDT_CORE.did.js
  client/utils/agents/declarations/GLDT_CORE/index.js
Due: none

hotfix
  client/swap_app/src/components/ui/manage/Summary.js
  client/utils/hooks/useSwapHistory.js
Due: swap_app linter

remove max entry fetch
  client/swap_app/src/components/ui/manage/Summary.js
  client/utils/hooks/useSwapHistory.js
Due: swap_app linter

Update README for open source publication
  README.md
Due: none

Minor adjustment of text content on landing page
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/Yumi.js
Due: landing_page linter

global changes / explorer account page fix - WIP
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/landing_page/public/images/logo.svg
  client/landing_page/src/components/banner/Banner.js
  client/ui/assets/logo.svg
  client/ui/gldt/TokenSign.js
  client/ui/header/Navigation.js
  client/utils/hooks/ledgerIndexer/useBalance.js
  client/utils/hooks/ledgerIndexer/useHistory.js
  client/utils/misc/buf2hex.js
Due: landing_page linter

Add warning message about source code being worked on `develop` branch
  README.md
Due: none

updated sns_init.yaml with latest version
  sns/config/gold_dao.svg
  sns/config/logo.png
  sns/config/sns.yml
  sns/config/sns_init.yaml
Due: none

correct logo
  sns/config/logo.png
Due: none

add more logs to gldt compensiate canister
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

folder structure organisation
  client/explorer/src/components/transparency/TransparencyContent.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/stats/Stats.js
  client/swap_app/src/components/ui/manage/Summary.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/ui/principal/Balance.js
  client/ui/transfer/Transfer.js
  client/utils/hooks/gldnfts/useNFTs.js
  client/utils/hooks/gldtCore/useOngoingSwap.js
  client/utils/hooks/gldtCore/useSwapHistory.js
  client/utils/hooks/gldtLedger/useGLDT.js
  client/utils/hooks/gldtLedger/useTotalSupply.js
  client/utils/hooks/ledgerIndexer/useGLDTbalance.js
Due: swap_app linter, landing_page linter

adapt landing page banner
  client/landing_page/src/components/banner/Banner.js
Due: landing_page linter

fix accountpage table
  client/explorer/src/components/account/AccountContent.js
  client/utils/misc/buf2hex.js
Due: none

replace did and fix
  client/swap_app/src/components/ui/manage/Summary.js
  client/utils/agents/declarations/GLDT_CORE/GLDT_CORE.did.js
Due: swap_app linter

landing page layout
  client/landing_page/pages/index.js
  client/landing_page/public/gldt.mp4
  client/landing_page/src/components/banner/Banner.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/ui/theme.js
Due: swap_app linter, landing_page linter
