Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node cache, rust lint, gld dashboard staging, gld dashboard preprod, gld dashboard production, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

Path conditions:
  node cache: any of: ./frontend/{**,**/**,**/**/**}/*.{js,json,jsx,md,mdx,css,html,svg}
  rust lint: (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}) or ((not (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock})) and (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}))
  gld dashboard staging: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard preprod: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard production: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gldt core staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/gldt_core/{**,**/**,**/**/**}/*.{rs,toml,lock}
  icp neuron staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/icp_neuron/{**,**/**,**/**/**}/*.{rs,toml,lock}
  token metrics staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/token_metrics/{**,**/**,**/**/**}/*.{rs,toml,lock}
  sns rewards staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/sns_rewards/{**,**/**,**/**/**}/*.{rs,toml,lock}
  management staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/management/{**,**/**,**/**/**}/*.{rs,toml,lock}
  cycles manager staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/cycles_manager/{**,**/**,**/**/**}/*.{rs,toml,lock}

feat: add api, change state, delete redundant
  Cargo.lock
  backend/canisters/sns_neuron_controller/api/Cargo.toml
  backend/canisters/sns_neuron_controller/api/can.did
  backend/canisters/sns_neuron_controller/api/src/lib.rs
  backend/canisters/sns_neuron_controller/api/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/api/src/lifecycle/mod.rs
  backend/canisters/sns_neuron_controller/api/src/queries/mod.rs
  backend/canisters/sns_neuron_controller/api/src/updates/mod.rs
  backend/canisters/sns_neuron_controller/impl/Cargo.toml
  backend/canisters/sns_neuron_controller/impl/src/lib.rs
  backend/canisters/sns_neuron_controller/impl/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/impl/src/lifecycle/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/state.rs
  backend/canisters/sns_neuron_controller/impl/src/types/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/types/outstanding_payments.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_recipients.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/libraries/utils/src/consts.rs
  dfx.json
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix: add tracer function ( useful for logging in integration testing) && fix integration tests
  Cargo.lock
  backend/canisters/sns_rewards/impl/Cargo.toml
  backend/canisters/sns_rewards/impl/src/jobs/synchronise_neurons.rs
  backend/canisters/sns_rewards/impl/src/utils.rs
  backend/integration_testing/src/sns_rewards_suite/setup/setup.rs
  backend/integration_testing/src/sns_rewards_suite/tests/test_distribute_rewards.rs
  backend/integration_testing/src/sns_rewards_suite/tests/test_synchronise_neurons.rs
Due: rust lint, sns rewards staging

ci: fix deploy script for sns_rewards
  scripts/canister-deploy/deploy-sns_rewards.sh
Due: none

ci: trigger pipeline
  backend/canisters/sns_rewards/CHANGELOG.md
Due: none

ci: fix sns_rewards deploy pipeline script
  backend/canisters/sns_rewards/CHANGELOG.md
  scripts/canister-deploy/deploy-sns_rewards.sh
Due: none

ci: fix missing definition of sns_rewards for proposal details scan
  backend/canisters/sns_rewards/CHANGELOG.md
  scripts/canister-deploy/deploy-sns_rewards.sh
  scripts/canister-deploy/deploy-token_metrics.sh
Due: none

unless prod, always set to true
  client/gld_dashboard/hooks/useManagement.js
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

fix: should be false
  client/gld_dashboard/hooks/useManagement.js
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: add manual trigger for frontend production deploy
  scripts/ci-cd/.frontend_deploys.yml
Due: none

refactor: remove "..." change from frontend pipeline trigger
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: cleanup
  .gitlab-ci.yml
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: incr push
  .gitlab-ci.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: change sns_controlled input to string
  .gitlab-ci.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

chore: minor change to trigger pipeline
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

chore: upload manual scripts for frontend SNS deployment
  scripts/manual/deploy-gld-dashboard.sh
  scripts/sns_testing/call-custom-method-gld-dashboard-deploy.sh
  scripts/sns_testing/register-custom-method-frontend-deploy-via-sns.sh
Due: none

ci: push tmp adjustment for testing pipeline
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: deploy via sns proposal
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_deploys.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: extract batch number and evidence
  scripts/ci-cd/.frontend_deploys.yml
Due: none

fix: roll my own auto-resize
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
  client/gld_dashboard/package.json
  package-lock.json
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

fix: ensure payments work correctly
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
  client/gld_dashboard/components/shared/rewards/RewardsCards.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

feat: edits after review + integration testing
  Cargo.lock
  backend/canisters/sns_neuron_controller/api/Cargo.toml
  backend/canisters/sns_neuron_controller/api/src/lib.rs
  backend/canisters/sns_neuron_controller/api/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/api/src/types/mod.rs
  backend/canisters/sns_neuron_controller/api/src/types/neuron_type.rs
  backend/canisters/sns_neuron_controller/api/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/api/src/updates/mod.rs
  backend/canisters/sns_neuron_controller/api/src/updates/stake_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/lib.rs
  backend/canisters/sns_neuron_controller/impl/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/impl/src/state.rs
  backend/canisters/sns_neuron_controller/impl/src/types/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/types/wtn_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/external_canisters/sns_governance/api/src/types.rs
  backend/integration_testing/Cargo.toml
  backend/integration_testing/src/client/mod.rs
  backend/integration_testing/src/client/sns_neuron_controller.rs
  backend/integration_testing/src/sns_neuron_controller_suite/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_ledger.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_rewards.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_sns.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_reward_claim.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix: fix eslint
  client/gld_dashboard/.eslintrc.cjs
  client/gld_dashboard/.eslintrc.json
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
  client/gld_dashboard/eslint.config.mjs
  client/gld_dashboard/package.json
  package-lock.json
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

fix: change input to number
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

chore: adding CHANGELOG for gld dashboard
  client/gld_dashboard/CHANGELOG.md
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: wip for frontend SNS upgrades
  .gitignore
  proposal_backend_template.md
  proposal_frontend_template.md
  scripts/ci-cd/.frontend_deploys.yml
  scripts/extract_version_info.sh
  scripts/frontend-deploy/commit_assets.sh
  scripts/frontend-deploy/frontend-deploy.sh
  scripts/frontend-deploy/frontend_config.json
  scripts/frontend-deploy/sns_prepare_assets.sh
  scripts/manual/deploy-gld-dashboard.sh
  scripts/parse_proposal_details.sh
Due: none

ci: rename staging version
  scripts/extract_version_info.sh
Due: none

ci: rename prepare_proposal_summary
  .gitignore
  scripts/canister-deploy/deploy-gldt_core.sh
  scripts/canister-deploy/deploy-icp_neuron.sh
  scripts/canister-deploy/deploy-sns_rewards.sh
  scripts/canister-deploy/deploy-token_metrics.sh
  scripts/ci-cd/.dfx_templates.yml
  scripts/parse_proposal_details.sh
  scripts/prepare_proposal_summary.sh
Due: none

ci: fixing sed issue on mac
  scripts/prepare_proposal_summary.sh
Due: none

ci: close to finish frontend CICD SNS pipeline
  scripts/frontend-deploy/frontend_config.json
  scripts/frontend-deploy/sns_commit_assets.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
  scripts/frontend-deploy/sns_prepare_assets.sh
  scripts/prepare_sns_canister_ids.sh
Due: none

ci: fix filename typo
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: refactor remove unneeded scripts
  package.json
  scripts/build-canisters.sh
  scripts/canister-deploy/deploy-cycles_manager.sh
  scripts/canister-deploy/deploy-gldt_core.sh
  scripts/canister-deploy/deploy-icp_neuron.sh
  scripts/canister-deploy/deploy-management.sh
  scripts/canister-deploy/deploy-sns_rewards.sh
  scripts/canister-deploy/deploy-token_metrics.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
  scripts/local-deploy.sh
  scripts/pre-deploy.sh
  scripts/refactor_nft_declarations.sh
  scripts/send-upgrade-proposal.sh
Due: none

ci: cleanup and refactor
  scripts/_local/manual/deploy-cycles-manager.sh
  scripts/_local/manual/deploy-fee-compensation.sh
  scripts/_local/manual/deploy-gld-dashboard.sh
  scripts/_local/manual/deploy-icp-neuron.sh
  scripts/_local/manual/deploy-management.sh
  scripts/_local/manual/deploy-scripts.sh
  scripts/_local/manual/deploy-sns-rewards.sh
  scripts/_local/manual/deploy-token-metrics.sh
  scripts/_local/manual/test-calls.sh
  scripts/_local/sns_testing/call-custom-method-addhotkey.sh
  scripts/_local/sns_testing/call-custom-method-gld-dashboard-deploy.sh
  scripts/_local/sns_testing/call-custom-method-increase-dissolve-delay.sh
  scripts/_local/sns_testing/call-custom-method-manage-reward-recipients.sh
  scripts/_local/sns_testing/call-custom-method-set_reserve_transfer_amounts.sh
  scripts/_local/sns_testing/call-custom-method-stake-nns-neuron.sh
  scripts/_local/sns_testing/call-custom-method-start-dissolving.sh
  scripts/_local/sns_testing/prepare_scripts.sh
  scripts/_local/sns_testing/register-canister.sh
  scripts/_local/sns_testing/register-custom-method-frontend-deploy-via-sns.sh
  scripts/_local/sns_testing/register-custom-method.sh
  scripts/_local/sns_testing/send-proposal-motion.sh
  scripts/_local/sns_testing/staging.sh
  scripts/_local/sns_testing/test-call.sh
  scripts/_local/sns_testing/upgrade-canister.sh
  scripts/extract_version_and_commit_sha.sh
  scripts/prepare_proposal_summary.sh
Due: none

ci: explicitly pass arguments to calls to avoid confusion
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/frontend-deploy/sns_commit_assets.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
  scripts/frontend-deploy/sns_prepare_assets.sh
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: include SNS deployment to prod pipeline
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: propagate errors in subscripts
  scripts/frontend-deploy/sns_commit_assets.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
Due: none

ci: add version_string to frontend
  scripts/ci-cd/.frontend_deploys.yml
  scripts/extract_version_and_commit_sha.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
  scripts/frontend-deploy/sns_prepare_assets.sh
Due: none

ci: further polishign
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  client/gld_dashboard/next.config.js
  scripts/frontend-deploy/sns_commit_assets.sh
  scripts/prepare_proposal_summary.sh
  scripts/prepare_sns_canister_ids.sh
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: include version env in build step
  client/gld_dashboard/components/Home/GLDGovInfo.jsx
  scripts/ci-cd/.frontend_builds.yml
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: install didc in node image
  scripts/ci-cd/.node_template.yml
Due: none
