Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: next linter, rust lint, next production build

next linter:
  image: node:18.16-alpine
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/.next/
    - client/.npm/
    - client/node_modules/
  before_script:
  - apk update -q && apk add -q jq
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  - npm run lint:front

rust lint:
  image: rust:slim-bookworm
  cache:
  - key: rust-$CI_COMMIT_REF_SLUG
    paths:
    - .cargo
    - canister/gldt_core/target
  before_script:
  - apt update > /dev/null && apt install -y wget build-essential > /dev/null
  - rustup target add wasm32-unknown-unknown
  - mkdir -pv .cargo
  ...

next production build:
  image: node:18.16-alpine
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/.next/
    - client/.npm/
    - client/node_modules/
  before_script:
  - apk update -q && apk add -q jq
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  - canister build
  script:
  ...

clean dep
  client/package-lock.json
Due: next linter, next production build

change connect button style
  client/package-lock.json
  client/src/components/c2ic/C2icButton.js
Due: next linter, next production build

repeat ongoing fetch
  client/src/components/ui/manage/Summary.js
  client/src/query/hooks/useOngoingSwap.js
Due: next linter, next production build

add pagination for transactions
  client/src/components/ui/manage/Summary.js
  client/src/query/hooks/useSwapHistory.js
Due: next linter, next production build

add pagination to ongoing swaps
  client/src/components/ui/manage/Summary.js
  client/src/query/hooks/useOngoingSwap.js
Due: next linter, next production build

fix total swapped
  client/src/components/ui/manage/Summary.js
  client/src/query/hooks/useSwapHistory.js
Due: next linter, next production build

change fetch timer
  client/src/query/hooks/useOngoingSwap.js
Due: next linter, next production build

Adapt node before_script to use of debian
  .gitlab-ci.yml
Due: none

Fix to NodeJS 18 instead of LTS
  .gitlab-ci.yml
Due: none

Reactivate frontend deployment
  .gitlab-ci.yml
Due: none

Hotfix: order of paginated records descending
  canister/gldt_core/src/lib.rs
Due: rust lint

Remove faulty and redudant options
  .gitlab-ci.yml
Due: none

fix interval cleaning
  client/src/query/hooks/useOngoingSwap.js
Due: next linter, next production build

develop - responsive styling
  client/src/components/ui/header/Header.js
  client/src/components/ui/header/Navigation.js
  client/src/components/ui/header/Principal.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/css/global.css
  client/src/theme/theme.js
Due: next linter, next production build

hide burger menu when user disconnected
  client/src/components/ui/header/Navigation.js
Due: next linter, next production build

responsive fine tuning
  landing_page/pages/_app.js
  landing_page/pages/index.js
  landing_page/src/css/global.css
Due: none

fix: apos
  landing_page/pages/index.js
Due: none

add dev scripts for landing page
  package.json
Due: none

remove: typo
  landing_page/pages/index.js
Due: none

add postinstall script for landing_page
  client/package-lock.json
  landing_page/package-lock.json
  landing_page/package.json
  package.json
Due: next linter, next production build

add FAQ nav & whitepaper button
  landing_page/pages/index.js
Due: none

fix padding button
  landing_page/pages/index.js
Due: none

add href
  landing_page/next.config.js
  landing_page/pages/index.js
Due: none

configured npm for workspaces
  client/package.json
  dfx.json
  landing_page/package.json
  package-lock.json
  package.json
Due: next linter, next production build

adjusted ic-domains for client and landing_page
  client/public/.well-known/ic-domains
  client/public/.well-known/ii-alternative-origins
  landing_page/public/.well-known/ii-alternative-origins
Due: none

add placeholder
  landing_page/pages/index.js
Due: none

center text
  landing_page/pages/index.js
Due: none

Adapt README for landing page
  landing_page/README.md
Due: none

Temporarily use canister ids from staging for NFTs
  scripts/deploy-gldt-core.sh
Due: none

add: transfer window UI
  package-lock.json
  swap_app/pages/index.js
  swap_app/src/components/ui/swap/Swap.js
  swap_app/src/components/ui/transfer/Transfer.js
  swap_app/src/theme/theme.js
Due: none

fix get_status_of_swap tests
  canister/gldt_core/src/test.rs
Due: rust lint

start fix compil
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

fix get_historical_swaps_by_user tests
  canister/gldt_core/src/test.rs
Due: rust lint

fix get_records tests
  canister/gldt_core/src/test.rs
Due: rust lint

fix notify_sale_nft_origyn tests
  canister/gldt_core/src/lib.rs
Due: rust lint

fix nft_info tests
  canister/gldt_core/src/test.rs
Due: rust lint

fix tests
  canister/gldt_core/src/test.rs
Due: rust lint

fix notify_sale_nft_origyn tests
  canister/gldt_core/src/test.rs
Due: rust lint

Path conditions:
  next linter: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}
  next production build: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
