Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: swap_app linter, landing_page linter, rust lint, swap_app production build, landing_page production build, explorer production build

swap_app linter:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  ...

landing_page linter:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  ...

rust lint:
  image: rust:slim-bookworm
  cache:
  - key: rust-$CI_COMMIT_REF_SLUG
    paths:
    - .cargo
    - canister/gldt_core/target
    - canister/gldt_fee_compensation/target
  before_script:
  - apt update > /dev/null && apt install -y wget build-essential > /dev/null
  - rustup component add clippy
  ...

swap_app production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

landing_page production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

explorer production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

design fine tuning
  client/landing_page/pages/_app.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/partners/Partners.js
  client/landing_page/src/components/stats/Stats.js
  client/landing_page/src/components/text/TextBloc.js
Due: landing_page linter

theme edition
  client/ui/theme.js
  package-lock.json
Due: none

fix: partners logo order
  client/landing_page/src/content.js
Due: landing_page linter

pushing WIP of clippy progress
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/test.rs
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

Predeploy job
  .gitlab-ci.yml
Due: none

Activate explorer and fees comp. canisters jobs
  .gitlab-ci.yml
Due: none

Fix PEM_FILE variable for pre-deploy script
  .gitlab-ci.yml
Due: none

GLDT03 code hygiene with clippy in pedantic mode
  canister/gldt_core/src/registry.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/src/misc.rs
  canister/gldt_libs/src/types.rs
Due: rust lint

removed response from notify_sale_nft_origyn
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

explorer first design iteration implementation
  client/explorer/pages/_app.js
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/layout/Header.js
  client/explorer/src/components/layout/Layout.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/explorer/src/components/transparency/TransparencyContent.js
  client/ui/layout/GridSystem.js
  client/ui/principal/Principal.js
  client/ui/theme.js
  package-lock.json
Due: none

global ui fix
  client/explorer/src/components/layout/Header.js
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/text/TextBloc.js
  client/swap_app/src/components/layout/Header.js
  client/swap_app/src/components/layout/Layout.js
  client/swap_app/src/components/ui/manage/Summary.js
  client/swap_app/src/components/ui/swap/Swap.js
  client/ui/theme.js
Due: swap_app linter, landing_page linter

Correct script name
  .gitlab-ci.yml
Due: none

GLDT03 more clippy issues
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_fee_compensation/src/error.rs
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/registry.rs
  canister/gldt_libs/src/lib.rs
Due: rust lint

GLDT04 modifed to return actual error
  canister/gldt_core/src/lib.rs
Due: rust lint

logo-loomis optimisation
  client/landing_page/public/images/partners/loomis.jpg
  client/landing_page/public/images/partners/loomis.png
Due: none

logo-loomis path
  client/landing_page/src/content.js
Due: landing_page linter

Replace `jq` with an inline node script
  .gitlab-ci.yml
Due: none

Correct way to access env variables
  .gitlab-ci.yml
Due: none

GLDT6&GLDT9 - explicit check of registry sequence
  canister/gldt_core/src/registry.rs
Due: rust lint

Correct artifacts paths and add explorer frontend
  dfx.json
Due: none

Correct frontend artifacts paths
  .gitlab-ci.yml
Due: none

Add LICENSE
  LICENSE
Due: none

GLDT10 - upgraded all cargo packages to latest version
  Cargo.lock
  canister/gldt_core/Cargo.toml
  canister/gldt_fee_compensation/Cargo.toml
  canister/gldt_libs/Cargo.toml
Due: rust lint

updated the LICENSE
  LICENSE
  canister/gldt_core/Cargo.toml
  canister/gldt_core/src/lib.rs
  canister/gldt_fee_compensation/Cargo.toml
  canister/gldt_fee_compensation/src/lib.rs
  client/explorer/package.json
  client/explorer/pages/index.js
  client/landing_page/package.json
  client/landing_page/pages/index.js
  client/swap_app/package.json
  client/swap_app/pages/index.js
  package.json
Due: swap_app linter, landing_page linter, rust lint

feedback implementation
  client/landing_page/pages/FAQ.js
  client/landing_page/pages/index.js
  client/landing_page/public/images/dl-whitepaper.svg
  client/landing_page/public/token_minus.glb
  client/landing_page/public/token_plus.glb
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/FAQ/content.json
  client/landing_page/src/components/FAQ/faq.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/Yumi.js
  client/landing_page/src/components/banner/scene/Model.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Nav.js
  client/landing_page/src/components/partners/Partners.js
  client/landing_page/src/components/stats/GldtValue.js
  client/landing_page/src/components/stats/Stats.js
  client/landing_page/src/content.js
  client/ui/theme.js
Due: landing_page linter

fix mobile button
  client/landing_page/src/components/layout/Nav.js
Due: landing_page linter

fix lint error
  client/landing_page/src/components/FAQ/FaqSection.js
Due: landing_page linter

fix: small ui issue
  client/landing_page/pages/index.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/text/TextBloc.js
Due: landing_page linter

license file not needed
  canister/gldt_core/Cargo.toml
  canister/gldt_fee_compensation/Cargo.toml
Due: rust lint

Update package-lock
  package-lock.json
Due: none

Git ignore declarations and targets
  .gitignore
Due: none

fix for rustdoc
  canister/gldt_core/src/lib.rs
  canister/gldt_fee_compensation/src/lib.rs
Due: rust lint

Remove previously versioned declarations
  .gitignore
  canister/gldt_fee_compensation/declarations/gldt_fee_compensation.did
  canister/gldt_fee_compensation/declarations/gldt_fee_compensation.did.js
  canister/gldt_fee_compensation/declarations/index.js
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
  canister/gldt_ledger_indexer/declarations/gldt_ledger_indexer.did
  canister/gldt_ledger_indexer/declarations/gldt_ledger_indexer.did.js
  canister/gldt_ledger_indexer/declarations/index.js
Due: none

Re-version accidentally unversioned candid source!
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
Due: none

Wait for gldt_fee_compensation build's artifact
  .gitlab-ci.yml
Due: none

Add missing deploy jobs for explorer
  .gitlab-ci.yml
Due: none

Fix network argument syntax for pre-deploy script
  .gitlab-ci.yml
  package.json
  scripts/local-deploy.sh
Due: none

small adjustment to text
  client/landing_page/src/components/FAQ/faq.js
  client/landing_page/src/content.js
Due: landing_page linter

Version changes by build
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
Due: none

Path conditions:
  swap_app linter: any of: client/swap_app/*.{js,json}, client/swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page linter: any of: client/landing_page/*.{js,json}, client/landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}, canister/{gldt_fee_compensation,gldt_fee_compensation/src,gldt_fee_compensation/src/**}/*.{rs,toml,lock}
  swap_app production build: any of: swap_app/*.{js,json}, swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page production build: any of: landing_page/*.{js,json}, landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  explorer production build: any of: explorer/*.{js,json}, explorer/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
