Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node cache, rust lint, gld dashboard staging, gld dashboard preprod, gld dashboard production, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

Path conditions:
  node cache: any of: ./frontend/{**,**/**,**/**/**}/*.{js,json,jsx,md,mdx,css,html,svg}
  rust lint: (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}) or ((not (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock})) and (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}))
  gld dashboard staging: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard preprod: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard production: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gldt core staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/gldt_core/{**,**/**,**/**/**}/*.{rs,toml,lock}
  icp neuron staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/icp_neuron/{**,**/**,**/**/**}/*.{rs,toml,lock}
  token metrics staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/token_metrics/{**,**/**,**/**/**}/*.{rs,toml,lock}
  sns rewards staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/sns_rewards/{**,**/**,**/**/**}/*.{rs,toml,lock}
  management staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/management/{**,**/**,**/**/**}/*.{rs,toml,lock}
  cycles manager staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/cycles_manager/{**,**/**,**/**/**}/*.{rs,toml,lock}

chore: update canister ids
  canister_ids.json
Due: none

chore: gold price endpoints
  Cargo.lock
  backend/canisters/token_metrics/impl/Cargo.toml
  backend/canisters/token_metrics/impl/src/jobs/mod.rs
  backend/canisters/token_metrics/impl/src/jobs/update_goldnft_data.rs
  backend/canisters/token_metrics/impl/src/jobs/update_goldprice.rs
  backend/canisters/token_metrics/impl/src/lib.rs
  backend/canisters/token_metrics/impl/src/queries/http_request.rs
  backend/canisters/token_metrics/impl/src/state.rs
  backend/canisters/token_metrics/impl/src/types/gold_price_types.rs
  backend/canisters/token_metrics/impl/src/types/mod.rs
Due: rust lint, token metrics staging

chore: add to jobs
  backend/canisters/token_metrics/impl/src/jobs/mod.rs
Due: rust lint, token metrics staging

fix: ci/cd
  scripts/ci-cd/.canister_builds.yml
Due: none

ci: include super_stats_v3 deployment script
  .gitlab-ci.yml
Due: none

build: add deploy scripts for super_stats_v3 and token_metrics
  scripts/canister-deploy/deploy-super_stats_v3.sh
Due: none

chore: minor change
  scripts/canister-deploy/deploy-super_stats_v3.sh
Due: none

ci: fix mode reinstall and token_metrics script
  scripts/canister-deploy/deploy-super_stats_v3.sh
  scripts/canister-deploy/deploy-token_metrics.sh
Due: none

chore: minor cleanup to trigger pipelines
  backend/canisters/super_stats_v3/CHANGELOG.md
  backend/canisters/token_metrics/CHANGELOG.md
Due: none

ci: small temporary fix
  scripts/canister-deploy/deploy-super_stats_v3.sh
  scripts/canister-deploy/deploy-token_metrics.sh
Due: none

build: add deploy scripts for super_stats_v3 and token_metrics
  backend/canisters/super_stats_v3/CHANGELOG.md
  backend/canisters/token_metrics/CHANGELOG.md
  scripts/canister-deploy/deploy-super_stats_v3.sh
  scripts/canister-deploy/deploy-token_metrics.sh
Due: none

ci: fix super_stats deployment script
  backend/canisters/super_stats_v3/CHANGELOG.md
  scripts/canister-deploy/deploy-super_stats_v3.sh
Due: none

ci: pass prod canisters as args to token_metrics and super_stats
  backend/canisters/super_stats_v3/CHANGELOG.md
  backend/canisters/token_metrics/CHANGELOG.md
  scripts/canister-deploy/deploy-super_stats_v3.sh
  scripts/canister-deploy/deploy-token_metrics.sh
Due: none

fix: super_stats authorized princpal
  scripts/canister-deploy/deploy-super_stats_v3.sh
Due: none

chore: fix for pipeline trigger
  backend/canisters/token_metrics/CHANGELOG.md
Due: none

ci: adjust proposal template for frontend SNS deployments
  proposal_frontend_template.md
Due: none

chore: trigger gld dashboard staging pipeline
  client/gld_dashboard/dummy.md
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

feat: draft before refactoring
  Cargo.lock
  Cargo.toml
  backend/canisters/buyback_burn/CHANGELOG.md
  backend/canisters/buyback_burn/api/src/lifecycle/init.rs
  backend/canisters/buyback_burn/api/src/queries/get_config.rs
  backend/canisters/buyback_burn/api/src/updates/update_config.rs
  backend/canisters/buyback_burn/impl/Cargo.toml
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/check_journal.rs
  backend/canisters/buyback_burn/impl/src/jobs/create_proposal.rs
  backend/canisters/buyback_burn/impl/src/jobs/mod.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/lib.rs
  backend/canisters/buyback_burn/impl/src/lifecycle/init.rs
  backend/canisters/buyback_burn/impl/src/lifecycle/mod.rs
  backend/canisters/buyback_burn/impl/src/lifecycle/post_upgrade.rs
  backend/canisters/buyback_burn/impl/src/model/token_swap_status.rs
  backend/canisters/buyback_burn/impl/src/queries/get_swap.rs
  backend/canisters/buyback_burn/impl/src/queries/http_request.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/timer_job_types.rs
  backend/canisters/buyback_burn/impl/src/token_swap/icpswap.rs
  backend/canisters/buyback_burn/impl/src/token_swap/swap_client.rs
  backend/canisters/buyback_burn/impl/src/types/mod.rs
  backend/canisters/buyback_burn/impl/src/types/token_swap_status.rs
  backend/canisters/buyback_burn/impl/src/types/token_swaps.rs
  backend/canisters/buyback_burn/impl/src/updates/update_config.rs
  backend/canisters/buyback_burn/impl/src/utils.rs
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/external_canisters/icpswap_swap_pool/api/src/lib.rs
  backend/libraries/canister_time/src/lib.rs
  backend/libraries/canister_timer_jobs/Cargo.toml
  backend/libraries/canister_timer_jobs/src/lib.rs
  backend/libraries/icpswap_client/src/lib.rs
  backend/libraries/types/src/cryptocurrency.rs
  backend/libraries/types/src/icpswap.rs
  backend/libraries/types/src/lib.rs
  backend/libraries/types/src/token.rs
  scripts/canister-deploy/deploy-buyback_burn.sh
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix: infinite loop bug in token_metrics and correct initialisation of canister
  backend/canisters/token_metrics/impl/src/jobs/sync_governance.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_proposals_stats.rs
  backend/canisters/token_metrics/impl/src/lifecycle/init.rs
  backend/canisters/token_metrics/impl/src/state.rs
  backend/external_canisters/sns_governance/api/src/types.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix: include transform_http_response for gold price call and fix gold nft canister definition
  backend/canisters/token_metrics/impl/src/jobs/sync_governance.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_proposals_stats.rs
  backend/canisters/token_metrics/impl/src/jobs/update_balance_list.rs
  backend/canisters/token_metrics/impl/src/queries/mod.rs
  backend/canisters/token_metrics/impl/src/queries/transform_http_response.rs
  backend/canisters/token_metrics/impl/src/state.rs
Due: rust lint, token metrics staging

chore: update changelogs of token_metrics and super_stats_v3
  backend/canisters/super_stats_v3/CHANGELOG.md
  backend/canisters/token_metrics/CHANGELOG.md
Due: none

fix: regex of integration tests need clause for super_stats_v3
  scripts/ci-cd/.canister_builds.yml
  scripts/ci-cd/.integration_tests.yml
Due: none

chore: minor change to trigger pipeline
  backend/canisters/super_stats_v3/CHANGELOG.md
Due: none

feat: update gldt_ledger and gldt_ledger_indexer wasm
  backend/canisters/gldt_ledger/api/can.did
  backend/canisters/gldt_ledger/gldt_ledger.wasm
  backend/canisters/gldt_ledger_indexer/api/can.did
  backend/canisters/gldt_ledger_indexer/gldt_ledger_indexer.wasm.gz
  dfx.json
Due: none

feat: introduce some refactoring
  Cargo.lock
  backend/canisters/buyback_burn/CHANGELOG.md
  backend/canisters/buyback_burn/api/src/lifecycle/init.rs
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/mod.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/lifecycle/init.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/token_swap/icpswap.rs
  backend/canisters/buyback_burn/impl/src/token_swap/mod.rs
  backend/canisters/buyback_burn/impl/src/token_swap/swap_client.rs
  backend/canisters/buyback_burn/impl/src/token_swap/swap_clients.rs
  backend/canisters/buyback_burn/impl/src/token_swap/swap_config.rs
  backend/canisters/buyback_burn/impl/src/types/token_swaps.rs
  backend/canisters/buyback_burn/impl/src/utils.rs
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/libraries/icpswap_client/src/lib.rs
  scripts/canister-deploy/deploy-buyback_burn.sh
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

feat: canister structure changes
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/lib.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/icpswap.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/mod.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/swap_client.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/swap_clients.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/swap_config.rs
  backend/canisters/buyback_burn/impl/src/types/token_swap_status.rs
  backend/canisters/buyback_burn/impl/src/types/token_swaps.rs
Due: rust lint

feat: add timers handling
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/utils.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_governance.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_governance_history.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_proposals_stats.rs
  backend/canisters/token_metrics/impl/src/jobs/sync_supply_data.rs
  backend/canisters/token_metrics/impl/src/jobs/update_balance_list.rs
  backend/libraries/canister_time/src/lib.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

chore: include local deployment script of gldt_ledger
  scripts/_local/manual/deploy-gldt-ledger.sh
Due: none

feat: implement timers + some more changes
  Cargo.lock
  backend/canisters/buyback_burn/api/src/queries/get_latest_top_ups.rs
  backend/canisters/buyback_burn/api/src/queries/mod.rs
  backend/canisters/buyback_burn/api/src/updates/create_proposal_manually.rs
  backend/canisters/buyback_burn/api/src/updates/mod.rs
  backend/canisters/buyback_burn/api/src/updates/update_config.rs
  backend/canisters/buyback_burn/impl/Cargo.toml
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/lib.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/timer_job_types.rs
  backend/canisters/buyback_burn/impl/src/types/token_swaps.rs
  backend/canisters/buyback_burn/impl/src/updates/update_config.rs
  backend/canisters/buyback_burn/impl/src/utils.rs
  backend/libraries/canister_timer_jobs/Cargo.toml
  backend/libraries/canister_timer_jobs/src/lib.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

feat: some more fixes
  backend/canisters/buyback_burn/impl/src/jobs/burn_tokens.rs
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/lib.rs
  backend/canisters/buyback_burn/impl/src/lifecycle/init.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/swap_clients/mod.rs
  backend/canisters/buyback_burn/impl/src/timer_job_types.rs
  backend/canisters/buyback_burn/impl/src/types/icpswap.rs
  backend/canisters/buyback_burn/impl/src/types/mod.rs
  backend/canisters/buyback_burn/impl/src/types/swap_client.rs
  backend/canisters/buyback_burn/impl/src/types/swap_clients.rs
  backend/canisters/buyback_burn/impl/src/types/swap_config.rs
  backend/canisters/buyback_burn/impl/src/types/token_swap_status.rs
  backend/canisters/buyback_burn/impl/src/types/token_swaps.rs
  backend/canisters/buyback_burn/impl/src/utils.rs
  backend/libraries/icpswap_client/src/lib.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix issues #173
  client/gld_dashboard/app/layout.js
  client/gld_dashboard/components/Home/DataCard.jsx
  client/gld_dashboard/components/Home/Neurons.jsx
  client/gld_dashboard/components/shared/modal/modal-neuron.jsx
  client/gld_dashboard/components/shared/modal/modal.jsx
  client/gld_dashboard/components/shared/rewards/RewardsCards.jsx
  client/gld_dashboard/components/shared/rewards/RewardsNeurons.jsx
  client/gld_dashboard/hooks/useNeurons.js
  client/gld_dashboard/hooks/useServices.js
  client/gld_dashboard/utils/canisters.js
  client/gld_dashboard/utils/idls/ogyNeurons.js
  client/gld_dashboard/utils/idls/ogyNeurons.ts
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

fix: lint issues
  client/gld_dashboard/components/Home/DataCard.jsx
  client/gld_dashboard/components/Home/Neurons.jsx
  client/gld_dashboard/components/shared/modal/modal-neuron.jsx
  client/gld_dashboard/components/shared/modal/modal.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

chore: adjust local testing scripts path and add set_reward_token_types test script
  scripts/_local/sns_testing/call-custom-method-addhotkey.sh
  scripts/_local/sns_testing/call-custom-method-gld-dashboard-deploy.sh
  scripts/_local/sns_testing/call-custom-method-manage-reward-recipients.sh
  scripts/_local/sns_testing/call-custom-method-set_reserve_transfer_amounts.sh
  scripts/_local/sns_testing/call-custom-method-set_reward_token_types.sh
  scripts/_local/sns_testing/call-custom-method-stake-nns-neuron.sh
  scripts/_local/sns_testing/call-custom-method-start-dissolving.sh
  scripts/_local/sns_testing/register-canister.sh
  scripts/_local/sns_testing/register-custom-method-frontend-deploy-via-sns.sh
  scripts/_local/sns_testing/register-custom-method.sh
  scripts/_local/sns_testing/test-call.sh
  scripts/_local/sns_testing/upgrade-canister.sh
Due: none

feat: rebuilding timers
  Cargo.lock
  backend/canisters/buyback_burn/CHANGELOG.md
  backend/canisters/buyback_burn/impl/src/jobs/swap_tokens.rs
  backend/canisters/buyback_burn/impl/src/state.rs
  backend/canisters/buyback_burn/impl/src/types/swap_config.rs
  backend/libraries/canister_timer_jobs/Cargo.toml
  backend/libraries/canister_timer_jobs/src/lib.rs
  backend/libraries/canister_timer_jobs/src/timer_manager.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

balance page OGY updates
  client/gld_dashboard/components/shared/modal/modal-claim-mobile.jsx
  client/gld_dashboard/components/shared/modal/modal-confirm.jsx
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
  client/gld_dashboard/components/shared/rewards/RewardsBalance.jsx
  client/gld_dashboard/components/shared/rewards/RewardsNeurons.jsx
  client/gld_dashboard/hooks/useBalances.js
  client/gld_dashboard/hooks/useNeurons.js
  client/gld_dashboard/utils/canisters.js
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

fix: lint issues
  client/gld_dashboard/components/shared/modal/modal-claim-mobile.jsx
  client/gld_dashboard/components/shared/modal/modal-transfer.jsx
  client/gld_dashboard/components/shared/rewards/RewardsNeurons.jsx
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production

ci: enable optional pipeline for frontend deploys via MR to staging
  scripts/ci-cd/.frontend_builds.yml
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: remove commented code
  scripts/ci-cd/.frontend_builds.yml
Due: none

required fixes
  client/gld_dashboard/components/Home/DataCardCopy.jsx
  client/gld_dashboard/components/shared/modal/modal-neuron.jsx
  client/gld_dashboard/hooks/useNeurons.js
  client/gld_dashboard/hooks/useServices.js
Due: gld dashboard staging, gld dashboard preprod, gld dashboard production
