Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: swap_app linter, landing_page linter, rust lint, swap_app production build, landing_page production build, explorer production build

swap_app linter:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  ...

landing_page linter:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: lint
  script:
  ...

rust lint:
  image: rust:slim-bookworm
  cache:
  - key: rust-$CI_COMMIT_REF_SLUG
    paths:
    - .cargo
    - canister/gldt_core/target
    - canister/gldt_fee_compensation/target
  before_script:
  - apt update > /dev/null && apt install -y wget build-essential > /dev/null
  - rustup component add clippy
  ...

swap_app production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

landing_page production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

explorer production build:
  image: node:18
  cache:
  - key: node-$CI_COMMIT_REF_SLUG
    paths:
    - .npm/
    - node_modules/
    - client/**/.next/
    - client/**/.npm/
    - client/**/node_modules/
  before_script:
  - apt update -q > /dev/null && apt install -y jq > /dev/null
  - npm ci --cache .npm --prefer-offline
  stage: build
  needs:
  ...

Fix explorer canister name
  .gitlab-ci.yml
Due: none

Fix missing argument !
  scripts/deploy-gldt-core.sh
Due: none

Use FAKE npm in CI/CD !!
  dfx.json
Due: none

Force use of more powerful runner for Cargo jobs
  .gitlab-ci.yml
Due: none

mobile fixes
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Header.js
  client/landing_page/src/components/layout/Nav.js
Due: landing_page linter

fix zIndex banner
  client/landing_page/src/components/banner/Banner.js
Due: landing_page linter

Add TODO
  scripts/deploy-gldt-fee-compensation.sh
Due: none

Reinstall is default on staging
  .gitlab-ci.yml
  scripts/deploy-gldt-core.sh
  scripts/deploy-gldt-fee-compensation.sh
Due: none

hotfix landing page
  client/landing_page/pages/index.js
Due: landing_page linter

Syntax fix
  scripts/deploy-gldt-core.sh
  scripts/deploy-gldt-fee-compensation.sh
Due: none

Correct deployment tier
  .gitlab-ci.yml
Due: none

Correct PEM file for production
  .gitlab-ci.yml
Due: none

Update documentation
  scripts/deploy-gldt-core.sh
  scripts/deploy-gldt-fee-compensation.sh
Due: none

Update candids
  canister/gldt_core/src/gldt_core.did
  canister/gldt_fee_compensation/src/gldt_fee_compensation.did
Due: none

Optional memory allocation at creation or update
  scripts/pre-deploy.sh
Due: none

Fix local test dependencies
  .gitlab-ci.yml
Due: none

Fix dependencies for declarations
  .gitlab-ci.yml
Due: none

Fix path
  .gitlab-ci.yml
Due: none

Specify local network
  .gitlab-ci.yml
Due: none

Fix frontends artifacts paths
  .gitlab-ci.yml
Due: none

landing page feedback
  client/landing_page/public/cleantoken.glb
  client/landing_page/public/images/partners/origyn.svg
  client/landing_page/public/images/sky.png
  client/landing_page/public/token_minus.glb
  client/landing_page/src/components/FAQ/FaqSection.js
  client/landing_page/src/components/banner/Banner.js
  client/landing_page/src/components/banner/scene/Model.js
  client/landing_page/src/components/banner/scene/Scene.js
  client/landing_page/src/components/layout/Header.js
Due: landing_page linter

add limit for registry
  canister/gldt_core/src/registry.rs
Due: rust lint

add limit for records
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
Due: rust lint

add test for record limit
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/test.rs
Due: rust lint

update futures + more tests
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/test.rs
Due: rust lint

dustin remarks on usize instead of u32
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
Due: rust lint

update
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

fix ic-domains for explorer
  client/explorer/public/.well-known/ic-domains
  client/explorer/public/.well-known/ii-alternative-origins
Due: none

mobile explorer implementation
  client/explorer/package.json
  client/explorer/pages/_app.js
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/account/AccountTitle.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/layout/Header.js
  client/explorer/src/components/layout/TableTitle.js
  client/explorer/src/components/layout/Title.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/explorer/src/components/transparency/TransparencyContent.js
  client/ui/layout/GridSystem.js
  client/ui/theme.js
Due: none

fix lint
  client/explorer/src/components/transparency/TransparencyContent.js
Due: none

update
  canister/gldt_core/src/lib.rs
Due: rust lint

fix table on mobile
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/transparency/TransparencyContent.js
Due: none

added get_locked_info method
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/registry.rs
Due: rust lint

tests for get_locked_info WIP
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/test.rs
Due: rust lint

removed commented tests
  canister/gldt_core/src/test.rs
Due: rust lint

added tests for get_locked_info
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

update after Gautiers feedback
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/test.rs
Due: rust lint

Update versioned did's
  canister/gldt_core/src/gldt_core.did
Due: none

fixed compensation factor and added some tests
  canister/gldt_fee_compensation/src/lib.rs
  canister/gldt_fee_compensation/src/test.rs
Due: rust lint

Path conditions:
  swap_app linter: any of: client/swap_app/*.{js,json}, client/swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page linter: any of: client/landing_page/*.{js,json}, client/landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}, canister/{gldt_fee_compensation,gldt_fee_compensation/src,gldt_fee_compensation/src/**}/*.{rs,toml,lock}
  swap_app production build: any of: swap_app/*.{js,json}, swap_app/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  landing_page production build: any of: landing_page/*.{js,json}, landing_page/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  explorer production build: any of: explorer/*.{js,json}, explorer/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
