Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: next linter, rust lint, next production build

Path conditions:
  next linter: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}
  next production build: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}

continue writing unitests
  canister/gldt_core/src/test.rs
Due: rust lint

add tests on get_status_of_swap, fix some issue on function
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

add tests, format code
  Cargo.lock
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/test.rs
Due: rust lint

new sequence implementation
  client/pages/my-account.js
  client/src/components/ui/swap/Swap.js
  client/src/query/sendBatchOffer.js
Due: next linter, next production build

remove providers
  client/package-lock.json
  client/pages/_app.js
  client/pages/index.js
  client/src/atoms/cart.js
  client/src/atoms/nfts.js
  client/src/components/c2ic/C2icButton.js
  client/src/components/c2ic/Providers.js
  client/src/components/layout/Header.js
  client/src/components/ui/Ruban.js
  client/src/components/ui/swap/Swap.js
  client/src/hooks/useNFTs.js
  client/src/states/appStatus.js
  client/src/states/user.js
Due: next linter, next production build

basic swap interface implementation
  client/src/atoms/cart.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useAllCanisters.js
  client/src/query/hooks/useGLDT.js
  client/src/query/hooks/useGLDTbalance.js
  client/src/query/hooks/useNFTs.js
  client/src/query/hooks/useRecords.js
  client/src/query/hooks/useTotalSupply.js
  client/src/query/sendBatchOffer.js
Due: next linter, next production build

added __get_candid_interface_tmp_hack()
  canister/gldt_core/src/lib.rs
Due: rust lint

Version candid file so it is available for #66
  .gitignore
  canister/gldt_core/src/gldt_core.did
Due: none

remove mui dep
  client/package.json
  client/pages/my-account.js
  client/public/images/logo.svg
  client/src/components/layout/Header.js
  client/src/components/layout/Layout.js
  client/src/components/ui/gldt/TokenSign.js
  client/src/components/ui/header/Balance.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/header/Navigation.js
  client/src/components/ui/header/Principal.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/query/cancelSale.js
  client/src/query/hooks/useGLDTbalance.js
Due: next linter, next production build

Merge branch '66-candid-of-gldt_core-no-longer-publicly-visible' into develop
  canister/gldt_core/src/lib.rs
Due: rust lint

wip withdraw and burning escrow
  canister/gldt_core/src/declarations/gld_nft.rs
  canister/gldt_core/src/declarations/icrc1.rs
  canister/gldt_core/src/lib.rs
Due: rust lint

Correct GldtTokenSpec decimals
  canister/gldt_core/src/lib.rs
Due: rust lint

quick fix for get_swaps_by_user request type
  canister/gldt_core/src/lib.rs
Due: rust lint

Remove Option<> for num_tokens and mint_block_height
  canister/gldt_core/src/gldt_core.did
  canister/gldt_core/src/lib.rs
Due: rust lint

new swap UX sequence implementation
  client/package-lock.json
  client/src/components/c2ic/Providers.js
  client/src/components/layout/Grid.js
  client/src/components/layout/Layout.js
  client/src/components/ui/gldt/TokenSign.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/css/global.css
  client/src/query/cancelSale.js
  client/src/query/hooks/useSwapHistory.js
  client/src/query/sendBatchOffer.js
  client/src/services/agents/declarations/GLDT_CORE/GLDT_CORE.did.js
  client/src/theme/theme.js
Due: next linter, next production build

fix scrollbars
  client/pages/_app.js
  client/pages/my-account.js
  client/src/components/layout/Grid.js
  client/src/components/layout/Layout.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/header/Ruban.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useSwapHistory.js
  client/src/theme/theme.js
Due: next linter, next production build

multiple small ux improvements
  client/package-lock.json
  client/package.json
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
Due: next linter, next production build

fixed add_record trap
  canister/gldt_core/src/lib.rs
Due: rust lint

added dummy_await for debugging
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/misc.rs
Due: rust lint

removed clean within mint_tokens
  canister/gldt_core/src/declarations/icrc1.rs
  canister/gldt_core/src/gldt_core.did
  canister/gldt_core/src/lib.rs
Due: rust lint

updated CONF stable variable
  canister/gldt_core/src/lib.rs
Due: rust lint

added separate stable var for REGISTRY
  canister/gldt_core/src/lib.rs
Due: rust lint

corrected stable store of registry
  canister/gldt_core/src/lib.rs
Due: rust lint

placed RECORDS in its own stable var
  canister/gldt_core/src/lib.rs
Due: rust lint

Refactored registry and record to their own crates
  Cargo.lock
  canister/gldt_core/Cargo.toml
  canister/gldt_core/src/constants.rs
  canister/gldt_core/src/gldt_core.did
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
  canister/gldt_core/src/types.rs
Due: rust lint

added get_ongoing_swaps_by_user
  canister/gldt_core/src/gldt_core.did
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
Due: rust lint

removed logging for get_conf and turned into query call
  canister/gldt_core/src/lib.rs
Due: rust lint

tables implementation WIP
  client/src/components/c2ic/C2icButton.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useNFTs.js
  client/src/query/hooks/useOngoingSwap.js
  client/src/services/agents/declarations/GLDT_CORE/GLDT_CORE.did.js
Due: next linter, next production build

fixed Swapping States
  canister/gldt_core/src/registry.rs
Due: rust lint

minor fixes after merge conflicts
  canister/gldt_core/src/declarations/gld_nft.rs
  canister/gldt_core/src/gldt_core.did
  canister/gldt_core/src/lib.rs
  canister/gldt_core/src/records.rs
  canister/gldt_core/src/registry.rs
Due: rust lint

minor fixed due to merge conflicts
  canister/gldt_core/src/lib.rs
Due: rust lint

small copyButton style adjustement
  client/pages/index.js
  client/public/favicon/android-chrome-192x192.png
  client/public/favicon/android-chrome-512x512.png
  client/public/favicon/apple-touch-icon.png
  client/public/favicon/favicon-16x16.png
  client/public/favicon/favicon-32x32.png
  client/public/favicon/favicon.ico
  client/public/favicon/mstile-144x144.png
  client/public/favicon/mstile-150x150.png
  client/public/favicon/mstile-310x150.png
  client/public/favicon/mstile-310x310.png
  client/public/favicon/mstile-70x70.png
  client/public/images/arrow.svg
  client/src/components/c2ic/Providers.js
  client/src/components/ui/header/CopyPrincipal.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/header/Principal.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useNFTs.js
  client/src/query/hooks/useSwapHistory.js
  client/src/theme/theme.js
Due: next linter, next production build

fix: useNft hook to be able to toggle by weight
  client/src/components/c2ic/Providers.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/swap/Swap.js
  client/src/query/hooks/useNFTs.js
Due: next linter, next production build

feature: add select nft by weight
  client/src/components/ui/swap/Swap.js
Due: next linter, next production build

fix ui issues
  client/next.config.js
  client/package.json
  client/pages/_app.js
  client/pages/my-account.js
  client/public/images/scale.svg
  client/public/images/sell.svg
  client/public/images/send_money.svg
  client/src/components/ui/gldt/TokenSign.js
  client/src/components/ui/header/Header.js
  client/src/components/ui/manage/Summary.js
  client/src/components/ui/swap/Swap.js
  client/src/components/ui/tooltip/timeStamp.js
  client/src/query/hooks/useOngoingSwap.js
  client/src/query/hooks/useSwapHistory.js
Due: next linter, next production build

fix typos and key warnings
  client/src/components/ui/swap/Swap.js
Due: next linter, next production build

fix import
  client/next.config.js
  client/package-lock.json
  client/src/components/ui/header/CopyPrincipal.js
Due: next linter, next production build
