Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: next linter, rust lint, next production build

Path conditions:
  next linter: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}
  rust lint: any of: Cargo.{lock,toml}, canister/{gldt_core,gldt_core/src,gldt_core/src/**}/*.{rs,toml,lock}
  next production build: any of: client/*.{js,json}, client/{**,**/**,**/**/**}/*.{js,jsx,md,mdx,css,html,svg}

fix compil warning
  canister/gldt_core/src/test.rs
Due: rust lint

fix theme import path
  client/swap_app/src/components/ui/manage/Summary.js
Due: next linter, next production build

fix hooks&queries paths
  client/swap_app/src/components/ui/header/Balance.js
  client/swap_app/src/components/ui/manage/Summary.js
  client/swap_app/src/components/ui/swap/Swap.js
Due: next linter, next production build

remove duplicate components
  client/swap_app/src/query/cancelSale.js
  client/swap_app/src/query/hooks/useAllCanisters.js
  client/swap_app/src/query/hooks/useGLDT.js
  client/swap_app/src/query/hooks/useGLDTbalance.js
  client/swap_app/src/query/hooks/useNFTs.js
  client/swap_app/src/query/hooks/useOngoingSwap.js
  client/swap_app/src/query/hooks/useRecords.js
  client/swap_app/src/query/hooks/useSwapHistory.js
  client/swap_app/src/query/hooks/useTotalSupply.js
  client/swap_app/src/query/sendBatchOffer.js
Due: next linter, next production build

added the indexer canister for the gldt ledger
  canister/gldt_ledger_indexer/declarations/gldt_ledger_indexer.did
  canister/gldt_ledger_indexer/declarations/gldt_ledger_indexer.did.js
  canister/gldt_ledger_indexer/declarations/index.js
  canister/gldt_ledger_indexer/gldt_ledger_indexer.did
  canister/gldt_ledger_indexer/gldt_ledger_indexer.wasm.gz
  canister_ids.json
  dfx.json
  scripts/deploy-ledger-indexer.sh
Due: none

fixed 'dfx generate' in pipeline
  dfx.json
Due: none

styling account page header
  client/explorer/pages/Search.js
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/header/Header.js
  client/explorer/src/components/header/SearchBar.js
  client/utils/hooks/useTransactionHistory.js
Due: next linter, next production build

fix: changed path for account specific page to /account-id/{id}
  client/explorer/pages/accound-id/[id].js
  client/explorer/src/components/explorer/Explorer.js
Due: next linter, next production build

fix: typo
  client/explorer/src/components/explorer/Explorer.js
Due: next linter, next production build

fix: typo in slug
  client/explorer/pages/account/[id].js
  client/explorer/src/components/explorer/Explorer.js
Due: next linter, next production build

accountID heading styling
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/account/AccountTitle.js
  client/explorer/src/components/header/Header.js
Due: next linter, next production build

FAQ basic integration
  client/landing_page/pages/FAQ.js
  client/landing_page/pages/index.js
  client/landing_page/src/components/FAQ/Question.js
  client/landing_page/src/components/layout/Layout.js
  client/landing_page/src/components/navigation/Nav.js
Due: next linter, next production build

explorer implementation
  canister_ids.json
  client/explorer/next.config.js
  client/explorer/pages/Search.js
  client/explorer/pages/account/[id].js
  client/explorer/pages/transaction/[id].js
  client/explorer/src/components/account/AccountContent.js
  client/explorer/src/components/c2ic/Providers.js
  client/explorer/src/components/explorer/Explorer.js
  client/explorer/src/components/header/Header.js
  client/explorer/src/components/transaction/TransactionContent.js
  client/explorer/src/services/agents/declarations/LEDGER_INDEXER/LEDGER_INDEXER.did
  client/explorer/src/services/agents/declarations/LEDGER_INDEXER/LEDGER_INDEXER.did.js
  client/explorer/src/services/agents/declarations/LEDGER_INDEXER/index.js
  client/explorer/src/services/agents/index.js
  client/explorer/src/utils/buf2hex.js
  client/utils/hooks/ledgerIndexer/useBalance.js
  client/utils/hooks/ledgerIndexer/useBlock.js
  client/utils/hooks/ledgerIndexer/useHistory.js
  client/utils/hooks/ledgerIndexer/useSubaccount.js
  client/utils/hooks/useNFTs.js
  client/utils/hooks/useSubaccounts.js
  client/utils/hooks/useTransactionHistory.js
  client/utils/misc/format.js
Due: next linter, next production build

fix pagination for accountPage
  client/explorer/src/components/account/AccountContent.js
  client/utils/hooks/ledgerIndexer/useHistory.js
Due: next linter, next production build

Fix critical vulnerability in crypto-js
  package-lock.json
Due: none

Prepare next develop and build for explorer
  package.json
Due: none

Adapt JSX lint jobs for new frontends
  .gitlab-ci.yml
  package.json
Due: none

Use Clippy as linter
  .gitlab-ci.yml
  package.json
Due: none

Separate canisters builds
  .gitlab-ci.yml
  package.json
Due: none

Activate gldt_fee_compensation build job
  .gitlab-ci.yml
Due: none

frontends builds
  .gitlab-ci.yml
Due: none

tests front builds and correct jobs deps
  .gitlab-ci.yml
Due: none

Correct jobs deps (deploy jobs still WIP)
  .gitlab-ci.yml
Due: none

Adapt npm cache paths
  .gitlab-ci.yml
Due: none

Adapt rust build cache paths
  .gitlab-ci.yml
Due: none

Lint on compensation canister code change
  .gitlab-ci.yml
Due: none

Separate frontend npm build scripts
  package.json
Due: none

Adapt README to new commands and repo structure
  README.md
Due: none

Correct npm workspaces
  package.json
Due: none

Specify section's purpose
  .gitlab-ci.yml
Due: none

Prepare for gldt-fee-compensation canister deploy
  .gitlab-ci.yml
  scripts/local-deploy.sh
Due: none

Swap app and landing page deployments
  .gitlab-ci.yml
Due: none

Syntax typo
  .gitlab-ci.yml
Due: none

Use a template for deployments Because `environment:deployment_tier` doesn't support variables :(
  .gitlab-ci.yml
Due: none

`needs` does not support variables neither
  .gitlab-ci.yml
Due: none

Correct job name
  .gitlab-ci.yml
Due: none

Correct help/usage message
  scripts/deploy-gldt-core.sh
Due: none

Transform script as CLI command
  scripts/deploy-ledger-indexer.sh
Due: none
