Repository GoldDAO/gold-dao: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node cache, rust lint, gld dashboard staging, gld dashboard preprod, gld dashboard production, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

node cache:
  stage: preparation
  script:
  - npm pkg get name description author license workspaces engines
  - node --version
  - npm --version

rust lint:
  stage: lint
  script:
  - cargo clippy

gld dashboard staging:
  stage: deploy
  resource_group: frontend staging deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister staging deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard preprod:
  stage: deploy
  resource_group: frontend preprod deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister preprod deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: staging
  ...

gld dashboard production:
  stage: deploy
  resource_group: frontend production deployment
  variables:
    CANISTER_NAME: gld_dashboard
  before_script:
  - - .import dfx identity
    - before_script
  script:
  - - .asset canister production deploy
    - script
  environment:
    name: gld dashboard
    deployment_tier: production
  ...

gldt core staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - gldt_core canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

icp neuron staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - icp_neuron canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

token metrics staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - token_metrics canister build
  - check canister ids
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

sns rewards staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - sns_rewards canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

management staging:
  stage: deploy
  resource_group: backend canister staging deployment
  variables:
    TARGET_NETWORK: staging
    PEM_FILE: ${PEM_FILE_STAGING}
  needs:
  - management canister build
  - check canister ids
  - integration tests
  before_script:
  - - .import dfx identity
    - before_script
  script:
  ...

ci: deploy with correct env args on pipeline and local
  scripts/ci-cd/.frontend_deploys.yml
  scripts/frontend-deploy/sns_prepare_assets.sh
Due: none

ci: change download target for didc
  scripts/ci-cd/.node_template.yml
Due: none

ci: trying to fix proposal generation
  scripts/ci-cd/.node_template.yml
  scripts/frontend-deploy/sns_commit_assets.sh
Due: none

ci: change path of didc
  scripts/ci-cd/.node_template.yml
Due: none

ci: what fiels are there
  scripts/ci-cd/.node_template.yml
Due: none

ci: let's see
  scripts/ci-cd/.node_template.yml
Due: none

ci: adjust location of didc include
  scripts/ci-cd/.dfx_templates.yml
  scripts/ci-cd/.frontend_deploys.yml
  scripts/ci-cd/.node_template.yml
Due: none

ci: small fix
  scripts/ci-cd/.frontend_deploys.yml
Due: none

ci: fix version name
  scripts/ci-cd/.frontend_builds.yml
Due: none

ci: minor cleanup
  scripts/extract_version_and_commit_sha.sh
  scripts/frontend-deploy/sns_frontend_deploy.sh
Due: none

ci: cleanup development adjustments
  scripts/ci-cd/.frontend_deploys.yml
Due: none

feat: extended tests + some fixes
  Cargo.lock
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/integration_testing/src/lib.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_ledger.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_rewards.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_sns.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup_sns_neuron_controller.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_manage_neuron_calls.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_process_neurons.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_reward_claim.rs
  backend/integration_testing/src/wasms.rs
Due: rust lint

chore: update ci-cd
  .gitlab-ci.yml
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/lib.rs
  backend/canisters/sns_neuron_controller/impl/src/queries/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/testing/dummies.rs
  backend/canisters/sns_neuron_controller/impl/src/testing/mod.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_manage_neuron_calls.rs
  scripts/canister-deploy/deploy-sns-neuron-controller.sh
  scripts/ci-cd/.canister_builds.yml
  scripts/ci-cd/.canister_deploys.yml
  scripts/ci-cd/.canister_unit_test_coverage.yml
  scripts/ci-cd/.integration_tests.yml
Due: rust lint

fix: add valid script arguments
  backend/canisters/sns_neuron_controller/api/can.did
  backend/canisters/sns_neuron_controller/api/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/mod.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_manage_neuron_calls.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_process_neurons.rs
  scripts/canister-deploy/deploy-sns-neuron-controller.sh
Due: rust lint

fix: rename staking call as ogy
  backend/canisters/sns_neuron_controller/impl/src/updates/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
Due: rust lint

feat: add validate for sns methods
  backend/canisters/sns_neuron_controller/api/src/types/neuron_type.rs
  backend/canisters/sns_neuron_controller/api/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/api/src/updates/stake_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
  backend/external_canisters/sns_governance/api/src/types.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

feat: small fixes
  backend/integration_testing/src/sns_neuron_controller_suite/setup/setup.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_process_neurons.rs
  canister_ids.json
Due: rust lint

feat: more tracing, descriptions, metrics
  backend/canisters/sns_neuron_controller/impl/src/lib.rs
  backend/canisters/sns_neuron_controller/impl/src/state.rs
  backend/canisters/sns_neuron_controller/impl/src/types/wtn_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/manage_sns_neuron.rs
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
  backend/external_canisters/sns_governance/api/src/types.rs
Due: rust lint, gldt core staging, icp neuron staging, token metrics staging, sns rewards staging, management staging, cycles manager staging

fix: script config fix
  scripts/canister-deploy/deploy-sns-neuron-controller.sh
Due: none

fix: sns_governance as auth principal
  scripts/canister-deploy/deploy-sns-neuron-controller.sh
Due: none

fix: add sns_controller deploy into pipeline
  .gitlab-ci.yml
Due: none

chore: update changelog
  backend/canisters/sns_neuron_controller/CHANGELOG.md
Due: none

fix: naming of the script
  scripts/canister-deploy/deploy-sns_neuron_controller.sh
Due: none

fix: delete unused dep
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_metrics.rs
Due: rust lint

fix: set valid interval
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
Due: rust lint

feat: make fix for the interval
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_process_neurons.rs
Due: rust lint

fix: integartion tests + remove extra logs
  backend/canisters/sns_neuron_controller/impl/src/jobs/process_neurons.rs
  backend/canisters/sns_neuron_controller/impl/src/types/ogy_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/utils.rs
  backend/integration_testing/src/sns_neuron_controller_suite/tests/test_process_neurons.rs
Due: rust lint

feat: add temp auth principal to config the neuron
  scripts/canister-deploy/deploy-sns_neuron_controller.sh
Due: none

fix: comment unused import
  backend/canisters/sns_neuron_controller/impl/src/queries/current_available_rewards.rs
  backend/canisters/sns_neuron_controller/impl/src/queries/mod.rs
Due: rust lint

fix: init state with authorized principal
  backend/canisters/sns_neuron_controller/impl/src/lifecycle/init.rs
  backend/canisters/sns_neuron_controller/impl/src/state.rs
Due: rust lint

feat: remove temp identity
  backend/canisters/sns_neuron_controller/impl/src/queries/current_available_rewards.rs
  scripts/canister-deploy/deploy-sns_neuron_controller.sh
Due: rust lint

chore: added changelog for sns_neuron_controller v1.0.1
  backend/canisters/sns_neuron_controller/CHANGELOG.md
Due: none

feat: fix the neuron metrix
  backend/canisters/sns_neuron_controller/impl/src/state.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_manager.rs
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_metrics.rs
Due: rust lint

fix: small fix
  backend/canisters/sns_neuron_controller/impl/src/types/neuron_metrics.rs
Due: rust lint

chore: update changelog
  backend/canisters/sns_neuron_controller/CHANGELOG.md
  backend/canisters/sns_neuron_controller/impl/src/updates/stake_sns_neuron.rs
Due: rust lint

chore: scripts update
  .gitlab-ci.yml
  dfx.json
  scripts/ci-cd/.canister_builds.yml
  scripts/ci-cd/.canister_unit_test_coverage.yml
Due: none

Path conditions:
  node cache: any of: ./frontend/{**,**/**,**/**/**}/*.{js,json,jsx,md,mdx,css,html,svg}
  rust lint: (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}) or ((not (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock})) and (any of: Cargo.{lock,toml}, backend/{**,**/**,**/**/**}/*.{rs,toml,lock}))
  gld dashboard staging: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard preprod: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gld dashboard production: any of: client/gld_dashboard/*.{js,json}, client/gld_dashboard/{**,**/**,**/**/**}/*.{js,jsx,ts,tsx,md,mdx,css,html,svg}
  gldt core staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/gldt_core/{**,**/**,**/**/**}/*.{rs,toml,lock}
  icp neuron staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/icp_neuron/{**,**/**,**/**/**}/*.{rs,toml,lock}
  token metrics staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/token_metrics/{**,**/**,**/**/**}/*.{rs,toml,lock}
  sns rewards staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/sns_rewards/{**,**/**,**/**/**}/*.{rs,toml,lock}
  management staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/management/{**,**/**,**/**/**}/*.{rs,toml,lock}
  cycles manager staging: any of: backend/libraries/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/external_canisters/{**,**/**,**/**/**}/*.{rs,toml,lock}, backend/canisters/cycles_manager/{**,**/**,**/**/**}/*.{rs,toml,lock}
